.semestre {    
    display:flex;
    padding:1%;
    width: min-content;
}

.titulo {
    color: rgb(15, 12, 12);
    font-family: "Roboto", sans-serif;  
}

.boton{    
    background-color:#9e0000bf;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 10%;    
    padding:5%;
    transition-duration: 0.5s;
    cursor: pointer;  
}

button[class*="boton"]:hover {  /*Toma todo lo que contenga boton */
    background-color: #081113; 
    color: rgb(255, 255, 255);
}

.boton.rojo{
    background-color: #9e0000bf; /* rojo */    
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 10%;    
    padding:5%;
}

.boton.azul{
    background-color: #2282b9; /* Azul */
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 10%;    
    padding:5%;
}

.boton.verde{
    background-color: #4CAF50; /* Green */
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 10%;    
    padding:5%;
}

.boton.amarillo{
    background-color: #bbbd3a; /* Green */
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 10%;    
    padding:5%;
}

.taller{
    background-color:#9e0000bf;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 15%;    
    padding:2%;
    transition-duration: 0.5s;
    cursor: pointer; 
}

button[class*= "taller"]:hover {
    background-color: black;
    color: white;
}

.taller.rojo{
    background-color: #9e0000bf; /* Azul*/
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 15%;       
}

.taller.azul{
    background-color: #2282b9; /* Azul*/
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 15%;       
}

.taller.verde{
    background-color: #4CAF50; /* Green */
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 15%;       
}

.taller.amarillo{
    background-color: #bbbd3a; /* Green */
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    text-align: center;   
    border-radius: 15%;     
}

.titulo-intermedio{
    background-color: #ff0707b0;
    border-style: solid;
    width: 40%;
    text-align: center;
    margin-block: inherit;
    padding: 1%;
    font-family: "Roboto" , Arial, Helvetica, sans-serif;
    font-size: 120%; 
}

.titulo-intermedio.verde{
    background-color: #4CAF50;
    border-style: solid;
    width: 40%;
    text-align: center;
    margin-block: inherit;
    padding: 1%;
    font-family: "Roboto" , Arial, Helvetica, sans-serif;
    font-size: 120%; 
}

.info{ 
    margin-left: 68%;
    position: fixed;
    width: 60%;
    font-family: "Roboto" , Arial, Helvetica, sans-serif;
    font-size: 150%; 
}

#referenciaRoja{
    background-color: #9e0000bf; /* rojo */    
    font-family: "Roboto", sans-serif;
    font-size: 65%;
    text-align: center;   
    border-radius: 10%;    
    padding:2%;
    pointer-events: none;
}

#referenciaAzul{
    background-color: #2282b9; /* rojo */    
    font-family: "Roboto", sans-serif;
    font-size: 65%;
    text-align: center;   
    border-radius: 10%;    
    padding:2%;
    pointer-events: none;
}

#referenciaAmarilla{
    background-color: #bbbd3a; /* rojo */    
    font-family: "Roboto", sans-serif;
    font-size: 65%;
    text-align: center;   
    border-radius: 10%;    
    padding:2%;
    pointer-events: none;
}

#referenciaVerde{
    background-color: #4CAF50; /* rojo */    
    font-family: "Roboto", sans-serif;
    font-size: 65%;
    text-align: center;   
    border-radius: 10%;    
    padding:2%;
    pointer-events: none;
}