<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>    
    <link rel="stylesheet" href="../styles/estilos.css">
    <script src="../app/scripts.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body onload="cargar()" >
    <div class="info">
        <label > Creditos parciales: </label> <label id="credParciales" cantidadParciales()>  </label><br></br> 
        <label > Creditos totales: </label><label id="credTotales" cantidadTotales()>  </label><br></br>
        <label > Creditos restantes: </label><label id="credRestantes" cantidadRestantes()>  </label><br></br><br></br>         
    </div>
    <div>   
    <label class="titulo">1er Semestre</label>
    <div class="semestre">        
        <button class="boton" id="1" onclick="cambiarColor('1')">Programación 1</button>
        <button class="boton" id="2" onclick="cambiarColor('2')">Fundamentos de matemática</button>
        <button class="boton" id="3" onclick="cambiarColor('3')">Taller de tecnologías</button>
        <button class="boton" id="4" onclick="cambiarColor('4')">Administración general</button>
    </div>
    <label class="titulo">2do Semestre</label>
    <div class="semestre">        
        <button class="boton" id="5" onclick="cambiarColor('5')">Programación 2</button>
        <button class="boton" id="6" onclick="cambiarColor('6')">Lógica y matemática discreta</button>
        <button class="boton" id="7" onclick="cambiarColor('7')">Fundamentos de sístemas de infomación</button>        
    </div>
    <label class="titulo">3er Semestre</label>
    <div class="semestre">        
        <button class="boton" id="8" onclick="cambiarColor('8')">Estructura de datos y algoritmos</button>
        <button class="boton" id="9" onclick="cambiarColor('9')">Fundamentos de ingeniería de software</button>
        <button class="boton" id="10" onclick="cambiarColor('10')">Marketing, mercados y productos digitales</button>
        <button class="boton" id="11" onclick="cambiarColor('11')">Bases de datos 1</button>        
    </div>
    <label class="titulo">Taller</label>
    <div>
        <button class="taller" id="12" onclick="cambiarColor('12')">Materia de Administración y Organizaciones</button>
    </div>
    <label class="titulo">4to Semestre</label>
    <div class="semestre">        
        <button class="boton" id="13" onclick="cambiarColor('13')">Infraestructura</button>
        <button class="boton" id="14" onclick="cambiarColor('14')">Diseño de aplicaciones 1</button>
        <button class="boton" id="15" onclick="cambiarColor('15')">Probabilidad y estadística aplicada</button>
        <button class="boton" id="16" onclick="cambiarColor('16')">Bases de datos 2</button>        
    </div>
    <label class="titulo">Taller</label>
    <div>
        <button class="taller" id="17" onclick="cambiarColor('17')">Materia de Liderazgo, Negociación y Comunicación</button>
    </div>
    <label class="titulo">5to Semestre</label>
    <div class="semestre">        
        <button class="boton" id="18" onclick="cambiarColor('18')">Redes</button>
        <button class="boton" id="19" onclick="cambiarColor('19')">Metodos cuantitativos para los negocios</button>
        <button class="boton" id="20" onclick="cambiarColor('20')">Análisis y diseño funcional</button>
        <button class="boton" id="21" onclick="cambiarColor('21')">Diseño de aplicaciones 2</button>        
    </div>
    <label class="titulo">Taller</label>
    <div>
        <button class="taller" id="22" onclick="cambiarColor('22')">Taller en seguridad informática</button>
        <br></br>
    </div>
    <div class="titulo-intermedio" id="intermedio">
        Título intermedio : ANALISTA DE SÍSTEMAS EN COMPUTACIÓN 
    </div>
    <br></br>
    <label class="titulo">6to Semestre</label>
    <div class="semestre">        
        <button class="boton" id="23" onclick="cambiarColor('23')">Programación de redes</button>
        <button class="boton" id="24" onclick="cambiarColor('24')">Ingeniería de software ágil 1</button>
        <button class="boton" id="25" onclick="cambiarColor('25')">Materia de sístemas inteligentes (machine learning)</button>
        <button class="boton" id="26" onclick="cambiarColor('26')">Bases de datos 3</button>
        <button class="boton" id="27" onclick="cambiarColor('27')">Materias electivas</button>
    </div>    
    <label class="titulo">7mo Semestre</label>
    <div class="semestre">        
        <button class="boton" id="28" onclick="cambiarColor('28')">Materia de ingeniería de productos de software</button>
        <button class="boton" id="29" onclick="cambiarColor('29')">Arquitecturas empresariales </button>
        <button class="boton" id="30" onclick="cambiarColor('30')">Finanzas y valoración de proyectos</button>
        <button class="boton" id="31" onclick="cambiarColor('31')">Materia de Gestión de la información (Big Data)</button>
        <button class="boton" id="32" onclick="cambiarColor('32')">Materias electivas</button>        
    </div>
    <label class="titulo">Taller</label>
    <div>
        <button class="taller" id="33" onclick="cambiarColor('33')">Materia de innovación y emprededurismo</button>
    </div>
    <label class="titulo" >8vo Semestre</label>
    <div class="semestre">        
        <button class="boton" id="34" onclick="cambiarColor('34')">Estrategia de negocios</button>
        <button class="boton" id="35" onclick="cambiarColor('35')">Sístemas de soporte de decision</button>
        <button class="boton" id="36" onclick="cambiarColor('36')">Materias electivas </button>                
    </div>
    <div>
        <button class="taller" id="37" onclick="cambiarColor('37')"> Proyecto </button>
    </div>
    <br></br>    
    <div class="titulo-intermedio" id="final" >
        Título Final: LICENCIADO EN SÍSTEMAS
    </div>
    </div>
</body>
</html>